@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-mainblue {
    background-color: #01ced1;
  }
  .text-mainblue {
    color: #01ced1;
  }

  .flex-half {
    flex: 0.5;
  }
}

body {
  background-color: #f3f4f6;
}
